@import '~antd/dist/antd.css';
@import '~leaflet/dist/leaflet.css';

$color-primary: #39C2B2;

#main {
	color: #292929;
}

.ant-btn-primary {
	background-color: $color-primary !important;
	border-color: $color-primary !important;
}
